{
  "openapi": "3.1.0",
  "info": {
    "title": "POSLink API",
    "description": "Handles messaging between the ePOS software and terminal.",
    "contact": {
      "name": "Poslink Service",
      "url": "https://teyaglobal.atlassian.net/wiki/spaces/CE/pages/5993563200/Integration+Guide",
      "email": "poslink@teya.com"
    },
    "version": "1.2"
  },
  "servers": [
    {
      "url": "https://api.teya.com",
      "description": "Production Server"
    },
    {
      "url": "https://api.teya.xyz",
      "description": "Staging Server"
    }
  ],
  "security": [
    {
      "authorisation": []
    }
  ],
  "tags": [
    {
      "name": "Payment Requests"
    },
    {
      "name": "Refunds"
    },
    {
      "name": "Stores"
    },
    {
      "name": "Terminals"
    },
    {
      "name": "ePOS Registration"
    },
    {
      "name": "Print Receipts (ePOS)",
      "description": "Create a receipt print job and fetch its status/events"
    }
  ],
  "paths": {
    "/poslink/v1/stores/{store_id}/configs/{config_key}": {
      "put": {
        "tags": [
          "Stores"
        ],
        "summary": "Set a terminal configuration for a store",
        "description": "Sets a configuration value for the store. The value applies to all terminals in the store. Valid values depend on the config_key - for example, PAT_ENABLED accepts true or false; other values return 400. Calling this endpoint again with the same value has no additional effect.",
        "operationId": "updateTerminalConfig",
        "parameters": [
          {
            "name": "store_id",
            "in": "path",
            "description": "The store the configuration applies to",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "f04fe1ce-e7bd-4c5b-b873-b156643c0bc3"
          },
          {
            "name": "config_key",
            "in": "path",
            "description": "The configuration key to set",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "PAT_ENABLED"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTerminalConfigRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Configuration updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TerminalConfigItem"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                },
                "example": {
                  "code": "BAD_REQUEST",
                  "description": "Bad Request"
                }
              }
            }
          },
          "401": {
            "description": "Lacks valid authentication credentials for the requested resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                },
                "example": {
                  "code": "UNAUTHORIZED",
                  "description": "Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "The server understands the request but refuses to authorize it",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                },
                "example": {
                  "code": "FORBIDDEN",
                  "description": "Forbidden"
                }
              }
            }
          },
          "408": {
            "description": "Request timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                },
                "example": {
                  "code": "REQUEST_TIMEOUT",
                  "description": "Request timeout"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests in a given amount of time",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                },
                "example": {
                  "code": "TOO_MANY_REQUESTS",
                  "description": "Too Many Requests"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                },
                "example": {
                  "code": "INTERNAL_SERVER_ERROR",
                  "description": "Internal Server Error"
                }
              }
            }
          }
        },
        "x-kong-plugin-rate-limiting-pre-auth": {
          "config": {
            "second": 2,
            "policy": "redis",
            "limit_by": "ip"
          }
        }
      }
    },
    "/poslink/v3/payment-requests": {
      "post": {
        "tags": [
          "Payment Requests"
        ],
        "summary": "Create a payment request",
        "description": "Creates a new payment request.\n\nSupports two flows in a single endpoint:\n- **Standalone payment** — omit `tab_id` and `payment_type`; behaves like v2.\n- **Pay at Table (PAT)** — supply `tab_id` (the tab to link the payment to) and\n  `payment_type` (`FULL` or `SPLIT`). `payment_type` is\n  required whenever `tab_id` is present.\n\n**Required Scopes (one of the following):**\n\n- `payment_requests` (returned via the register API: `POST /poslink/v1/epos/register`)\n- `default_access` (deprecated, will be removed in the future; included for backward compatibility with existing integrations)\n",
        "operationId": "createPaymentV3",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "A unique key used to identify the request. Repeating the request with the same key will return the same response.\nUse different keys for different requests.\nUse the same key for retries of the same request.\n",
            "required": true,
            "schema": {
              "type": "string",
              "description": "A unique key used to identify the request. Repeating the request with the same key will return the same response.\nUse different keys for different requests.\nUse the same key for retries of the same request.\n",
              "maxLength": 64,
              "minLength": 1
            }
          }
        ],
        "requestBody": {
          "description": "Payment request payload. Use SALE to take a card payment, REFUND to give a standalone unreferenced refund (card present, no original sale to reference), or supply a tab_id to settle a Pay at Table tab (SALE only).",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePaymentRequestV3"
              },
              "examples": {
                "sale_standalone": {
                  "summary": "Take a card payment — the customer pays the merchant at the terminal",
                  "description": "sale_standalone",
                  "value": {
                    "store_id": "eac4d470-4731-45b2-af6b-c828f03c1f9d",
                    "terminal_id": "70dc65ba-1c13-492a-82a0-15821e5f63ba",
                    "requested_amount": {
                      "amount": 1500,
                      "currency": "GBP",
                      "tip": 10
                    },
                    "transaction_type": "SALE",
                    "merchant_reference": "ORDER_123",
                    "epos_instance_id": "eposName_1",
                    "basket_transaction_id": "2f1b9c7c-8f0a-4e9c-9b04-8c9f4f0f0a2b"
                  }
                },
                "refund_standalone": {
                  "summary": "Give an unreferenced refund — return money to the customer's card with no original sale to reference (card present)",
                  "description": "refund_standalone",
                  "value": {
                    "store_id": "eac4d470-4731-45b2-af6b-c828f03c1f9d",
                    "terminal_id": "70dc65ba-1c13-492a-82a0-15821e5f63ba",
                    "requested_amount": {
                      "amount": 1500,
                      "currency": "GBP",
                      "tip": 0
                    },
                    "transaction_type": "REFUND",
                    "merchant_reference": "REFUND_ORDER_123",
                    "epos_instance_id": "eposName_1"
                  }
                },
                "pay_at_table_sale": {
                  "summary": "Pay at Table — settle against an open tab (SALE only; refunds are not supported on a tab)",
                  "description": "pay_at_table_sale",
                  "value": {
                    "store_id": "eac4d470-4731-45b2-af6b-c828f03c1f9d",
                    "terminal_id": "term-001",
                    "requested_amount": {
                      "amount": 5000,
                      "currency": "GBP",
                      "tip": 0
                    },
                    "transaction_type": "SALE",
                    "merchant_reference": "ORDER-2026-001",
                    "epos_instance_id": "epos-register-1",
                    "tab_id": "3f2b6a2e-9d3e-4a1f-8f1e-6b2e5a8c9d01",
                    "payment_type": "FULL",
                    "payment_method": "CARD"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Payment request created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePaymentResponseV3"
                },
                "examples": {
                  "Create_Payment_New_Standalone_V3": {
                    "description": "Create_Payment_New_Standalone_V3",
                    "value": {
                      "payment_request_id": "dfc4fc52-8293-45b6-9f3e-b3b0f8f88188",
                      "requested_amount": {
                        "currency": "GBP",
                        "amount": 1500,
                        "tip": 0
                      },
                      "status": "NEW",
                      "transaction_type": "SALE",
                      "created_at": "2026-04-21T10:05:00Z",
                      "updated_at": "2026-04-21T10:05:00Z",
                      "merchant_reference": "ORDER_123",
                      "terminal_id": "70dc65ba-1c13-492a-82a0-15821e5f63ba",
                      "store_id": "eac4d470-4731-45b2-af6b-c828f03c1f9d",
                      "epos_instance_id": "eposName_1"
                    }
                  },
                  "Create_Refund_New_Standalone_V3": {
                    "description": "Create_Refund_New_Standalone_V3",
                    "value": {
                      "payment_request_id": "9b2c1d7e-4a3f-4c8b-9e2d-1f0a6b5c4d3e",
                      "requested_amount": {
                        "currency": "GBP",
                        "amount": 1500,
                        "tip": 0
                      },
                      "status": "NEW",
                      "transaction_type": "REFUND",
                      "created_at": "2026-04-21T10:05:00Z",
                      "updated_at": "2026-04-21T10:05:00Z",
                      "merchant_reference": "REFUND_123",
                      "terminal_id": "70dc65ba-1c13-492a-82a0-15821e5f63ba",
                      "store_id": "eac4d470-4731-45b2-af6b-c828f03c1f9d",
                      "epos_instance_id": "eposName_1"
                    }
                  },
                  "Create_Payment_New_Tab_V3": {
                    "description": "Create_Payment_New_Tab_V3",
                    "value": {
                      "payment_request_id": "9c1a7c2c-3e2a-4d5b-9f8a-6c2e5a8c9d01",
                      "requested_amount": {
                        "currency": "GBP",
                        "amount": 5000,
                        "tip": 0
                      },
                      "status": "NEW",
                      "transaction_type": "SALE",
                      "created_at": "2026-04-21T10:05:00Z",
                      "updated_at": "2026-04-21T10:05:00Z",
                      "merchant_reference": "ORDER-2026-001",
                      "terminal_id": "term-001",
                      "store_id": "eac4d470-4731-45b2-af6b-c828f03c1f9d",
                      "epos_instance_id": "epos-register-1",
                      "tab_id": "3f2b6a2e-9d3e-4a1f-8f1e-6b2e5a8c9d01",
                      "payment_type": "FULL",
                      "payment_method": "CARD"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                },
                "example": {
                  "code": "BAD_REQUEST",
                  "description": "Bad Request"
                }
              }
            }
          },
          "401": {
            "description": "Lacks valid authentication credentials for the requested resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                },
                "example": {
                  "code": "UNAUTHORIZED",
                  "description": "Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "The server understands the request but refuses to authorize it",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                },
                "example": {
                  "code": "FORBIDDEN",
                  "description": "Forbidden"
                }
              }
            }
          },
          "408": {
            "description": "Request timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                },
                "example": {
                  "code": "REQUEST_TIMEOUT",
                  "description": "Request timeout"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                },
                "example": {
                  "code": "UNSUPPORTED_MEDIA_TYPE",
                  "description": "Unsupported Media Type"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity — e.g. transaction_type=REFUND on a tab (Pay at Table is SALE-only)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests in a given amount of time",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                },
                "example": {
                  "code": "TOO_MANY_REQUESTS",
                  "description": "Too Many Requests"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                },
                "example": {
                  "code": "INTERNAL_SERVER_ERROR",
                  "description": "Internal Server Error"
                }
              }
            }
          }
        },
        "x-kong-plugin-scope-authorisation": {
          "config": {
            "required_scopes": [
              "payment_requests",
              "default_access"
            ]
          },
          "enabled": true
        }
      }
    },
    "/poslink/v2/refunds": {
      "post": {
        "description": "This API call is used to process the refund of a previous transaction using the POSLink V2 endpoint.",
        "operationId": "createRefundV2",
        "parameters": [
          {
            "description": "A unique key to identify the request. If the request is repeated with the same key, the same response will be returned.\nIf the request is repeated with a different key or without a key, a new refund will be created.\n",
            "in": "header",
            "name": "Idempotency-Key",
            "required": false,
            "schema": {
              "maxLength": 64,
              "minLength": 1,
              "type": "string",
              "description": "A unique key to identify the request. If the request is repeated with the same key, the same response will be returned.\nIf the request is repeated with a different key or without a key, a new refund will be created.\n"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefundRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "examples": {
                  "Refund_Success": {
                    "description": "Refund_Success",
                    "value": {
                      "transaction_id": "tr_87de9bea-b32d-4ef5-a481-b8ba48764325",
                      "refund_amount": {
                        "amount": 100,
                        "currency": "GBP"
                      },
                      "status": "SUCCESS",
                      "transaction_type": "REFUND",
                      "card_acceptor_id": "5023045",
                      "issuer_result": {
                        "approval_code": "123456",
                        "response_code": "00"
                      },
                      "created_at": "2021-01-01T00:00:00.000Z",
                      "dcc": {
                        "cardholder_amount": {
                          "amount": 100,
                          "currency": "CHF"
                        },
                        "conversion_rate": "0.9517",
                        "markup": "0.03",
                        "ecb_markup": "0.01"
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/RefundResponseV3"
                }
              }
            },
            "description": "Refund processed"
          },
          "202": {
            "description": "Refund is being processed asynchronously"
          },
          "400": {
            "content": {
              "application/json": {
                "example": {
                  "code": "BAD_REQUEST",
                  "description": "Bad Request"
                },
                "schema": {
                  "$ref": "#/components/schemas/RefundExceptionResponseV2"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "example": {
                  "code": "UNAUTHORISED",
                  "description": "Unauthorised"
                },
                "schema": {
                  "$ref": "#/components/schemas/RefundExceptionResponseV2"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "example": {
                  "code": "FORBIDDEN",
                  "description": "Forbidden"
                },
                "schema": {
                  "$ref": "#/components/schemas/RefundExceptionResponseV2"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "example": {
                  "code": "TRANSACTION_NOT_FOUND",
                  "description": "Not Found"
                },
                "schema": {
                  "$ref": "#/components/schemas/RefundExceptionResponseV2"
                }
              }
            },
            "description": "Not Found"
          },
          "409": {
            "content": {
              "application/json": {
                "example": {
                  "code": "TRANSACTION_CANNOT_BE_REVERSED",
                  "description": "Conflict"
                },
                "schema": {
                  "$ref": "#/components/schemas/RefundExceptionResponseV2"
                }
              }
            },
            "description": "Conflict"
          },
          "500": {
            "content": {
              "application/json": {
                "example": {
                  "code": "INTERNAL_SERVER_ERROR",
                  "description": "Internal Server Error"
                },
                "schema": {
                  "$ref": "#/components/schemas/RefundExceptionResponseV2"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "503": {
            "content": {
              "application/json": {
                "example": {
                  "code": "SERVICE_UNAVAILABLE",
                  "description": "Service Unavailable"
                },
                "schema": {
                  "$ref": "#/components/schemas/RefundExceptionResponseV2"
                }
              }
            },
            "description": "Service Unavailable"
          },
          "523": {
            "content": {
              "application/json": {
                "example": {
                  "code": "UNKNOWN",
                  "description": "Origin Unavailable"
                },
                "schema": {
                  "$ref": "#/components/schemas/RefundExceptionResponseV2"
                }
              }
            },
            "description": "Origin Unavailable"
          }
        },
        "summary": "Process a refund of a transaction (Poslink V2)",
        "tags": [
          "Refunds"
        ]
      }
    },
    "/poslink/v1/tabs": {
      "get": {
        "tags": [
          "Pay at Table"
        ],
        "summary": "List tabs for a store",
        "description": "Returns tabs for the specified store, cursor-paginated.\n\nSupports optional filters:\n- `status`: repeatable. When omitted, defaults to active tabs only\n  (`OPEN`, `PAYING`, `PAUSED`). To include archived tabs, pass\n  `status=COMPLETED` and/or `status=CLOSED` explicitly.\n- `merchant_reference`: merchant-assigned reference. Unique per store, so the\n  filtered response will contain at most one tab.\n",
        "operationId": "listTabs",
        "parameters": [
          {
            "name": "store_id",
            "in": "query",
            "description": "The store identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Tab statuses to include. Repeatable (e.g., `status=OPEN&status=PAUSED`).\nWhen omitted, returns only active tabs (`OPEN`, `PAYING`, `PAUSED`).\nTo include archived tabs, pass `status=COMPLETED` and/or `status=CLOSED` explicitly.\n",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "OPEN",
                  "PAYING",
                  "PAUSED",
                  "COMPLETED",
                  "CLOSED"
                ]
              }
            }
          },
          {
            "name": "merchant_reference",
            "in": "query",
            "description": "Merchant-assigned reference to filter by. When provided, returns the single tab matching (store_id, merchant_reference) or an empty list.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Opaque cursor pointing to the last item of the current page. Use to fetch the next page. Mutually exclusive with `before`.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "Opaque cursor pointing to the first item of the current page. Use to fetch the previous page. Mutually exclusive with `after`.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return. Defaults to 50, capped at 300.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50,
              "maximum": 300,
              "minimum": 1
            },
            "example": 50
          }
        ],
        "responses": {
          "200": {
            "description": "Tabs retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TabListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                },
                "example": {
                  "code": "BAD_REQUEST",
                  "description": "Bad Request"
                }
              }
            }
          },
          "401": {
            "description": "Lacks valid authentication credentials for the requested resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                },
                "example": {
                  "code": "UNAUTHORIZED",
                  "description": "Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "The server understands the request but refuses to authorize it",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                },
                "example": {
                  "code": "FORBIDDEN",
                  "description": "Forbidden"
                }
              }
            }
          },
          "408": {
            "description": "Request timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                },
                "example": {
                  "code": "REQUEST_TIMEOUT",
                  "description": "Request timeout"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests in a given amount of time",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                },
                "example": {
                  "code": "TOO_MANY_REQUESTS",
                  "description": "Too Many Requests"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                },
                "example": {
                  "code": "INTERNAL_SERVER_ERROR",
                  "description": "Internal Server Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Pay at Table"
        ],
        "summary": "Create a new tab",
        "description": "Creates a new tab for a store. The tab starts in OPEN status.",
        "operationId": "createTab",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Unique key used to safely retry the request. Repeating the request with the same key\nand body returns the same tab. Reusing the same key with a different body returns\nHTTP 409. Keys are scoped to the store and retained for at least 24h.\n",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 64,
              "minLength": 1
            }
          }
        ],
        "requestBody": {
          "description": "Tab creation payload",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTabRequest"
              },
              "examples": {
                "restaurant_table": {
                  "summary": "Restaurant table with order reference",
                  "description": "restaurant_table",
                  "value": {
                    "store_id": "eac4d470-4731-45b2-af6b-c828f03c1f9d",
                    "tab_name": "Table 5",
                    "merchant_reference": "ORDER-2026-001",
                    "epos_instance_id": "epos-register-1",
                    "currency_code": "GBP"
                  }
                },
                "bar_guest_tab": {
                  "summary": "Bar tab named after a guest",
                  "description": "bar_guest_tab",
                  "value": {
                    "store_id": "eac4d470-4731-45b2-af6b-c828f03c1f9d",
                    "tab_name": "Jane D. — bar",
                    "merchant_reference": "BAR-2026-117",
                    "currency_code": "EUR"
                  }
                },
                "retail_counter": {
                  "summary": "Retail counter open tab",
                  "description": "retail_counter",
                  "value": {
                    "store_id": "eac4d470-4731-45b2-af6b-c828f03c1f9d",
                    "tab_name": "Counter #2",
                    "merchant_reference": "CTR-2026-2031",
                    "epos_instance_id": "epos-register-2",
                    "currency_code": "USD"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Tab created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TabResponse"
                },
                "examples": {
                  "new_tab_created": {
                    "summary": "Freshly created tab (OPEN, zero amounts)",
                    "description": "new_tab_created",
                    "value": {
                      "tab_id": "3f2b6a2e-9d3e-4a1f-8f1e-6b2e5a8c9d01",
                      "store_id": "eac4d470-4731-45b2-af6b-c828f03c1f9d",
                      "tab_name": "Table 5",
                      "status": "OPEN",
                      "total_amount": {
                        "amount": 0,
                        "currency": "GBP"
                      },
                      "total_paid": 0,
                      "remaining": 0,
                      "merchant_reference": "ORDER-2026-001",
                      "epos_instance_id": "epos-register-1",
                      "payment_requests": [],
                      "created_at": "2026-04-21T10:00:00Z",
                      "updated_at": "2026-04-21T10:00:00Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                },
                "example": {
                  "code": "BAD_REQUEST",
                  "description": "Bad Request"
                }
              }
            }
          },
          "401": {
            "description": "Lacks valid authentication credentials for the requested resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                },
                "example": {
                  "code": "UNAUTHORIZED",
                  "description": "Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "The server understands the request but refuses to authorize it",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                },
                "example": {
                  "code": "FORBIDDEN",
                  "description": "Forbidden"
                }
              }
            }
          },
          "408": {
            "description": "Request timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                },
                "example": {
                  "code": "REQUEST_TIMEOUT",
                  "description": "Request timeout"
                }
              }
            }
          },
          "409": {
            "description": "Conflict — a tab with the same merchant reference already exists for this store",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                },
                "examples": {
                  "conflict_duplicate_merchant_reference": {
                    "summary": "Tab already exists for this (store_id, merchant_reference)",
                    "description": "conflict_duplicate_merchant_reference",
                    "value": {
                      "code": "CONFLICT",
                      "description": "Tab with merchant_reference already exists"
                    }
                  }
                }
              }
            }
          },
          "415": {
            "description": "Unsupported media type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                },
                "example": {
                  "code": "UNSUPPORTED_MEDIA_TYPE",
                  "description": "Unsupported Media Type"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests in a given amount of time",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                },
                "example": {
                  "code": "TOO_MANY_REQUESTS",
                  "description": "Too Many Requests"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                },
                "example": {
                  "code": "INTERNAL_SERVER_ERROR",
                  "description": "Internal Server Error"
                }
              }
            }
          }
        }
      }
    },
    "/poslink/v1/tabs/{tab_id}/show-bill-intents": {
      "post": {
        "tags": [
          "Pay at Table"
        ],
        "summary": "Create a show-bill intent",
        "description": "Terminal signals intent to display the bill for a tab. The server accepts\nthe intent and notifies the ePOS via a `SHOW_BILL_REQUEST` SSE event, which\nin turn posts bill content back to the server. At most one terminal can hold\nan active show-bill intent per tab at a time.\n",
        "operationId": "createShowBillIntent",
        "parameters": [
          {
            "name": "tab_id",
            "in": "path",
            "description": "The tab identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TerminalIdRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Show-bill intent accepted and forwarded to the ePOS",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShowBillIntentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                },
                "example": {
                  "code": "BAD_REQUEST",
                  "description": "Bad Request"
                }
              }
            }
          },
          "401": {
            "description": "Lacks valid authentication credentials for the requested resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                },
                "example": {
                  "code": "UNAUTHORIZED",
                  "description": "Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "The server understands the request but refuses to authorize it",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                },
                "example": {
                  "code": "FORBIDDEN",
                  "description": "Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "Tab not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                }
              }
            }
          },
          "408": {
            "description": "Request timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                },
                "example": {
                  "code": "REQUEST_TIMEOUT",
                  "description": "Request timeout"
                }
              }
            }
          },
          "409": {
            "description": "Conflict — a bill is already being displayed, or tab state does not allow display",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported media type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests in a given amount of time",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                },
                "example": {
                  "code": "TOO_MANY_REQUESTS",
                  "description": "Too Many Requests"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                },
                "example": {
                  "code": "INTERNAL_SERVER_ERROR",
                  "description": "Internal Server Error"
                }
              }
            }
          }
        }
      }
    },
    "/poslink/v1/tabs/{tab_id}/payment-intents": {
      "post": {
        "tags": [
          "Pay at Table"
        ],
        "summary": "Create a payment intent",
        "description": "Terminal initiates a payment intent for a tab. The tab transitions to\n`PAYING` if it is in `OPEN` or `PAUSED`; PAYING tabs are no-op idempotent.\nOn a `PAUSED → PAYING` transition POSLink auto-emits a `TAB_RESUMED` SSE\nevent before the `PAY_REQUEST`. The ePOS then calls POST /v3/payment-requests\n(with tab_id and payment_type) to materialise the payment. Supports FULL and\nSPLIT payment types with CARD or CASH methods.\n",
        "operationId": "createPaymentIntent",
        "parameters": [
          {
            "name": "tab_id",
            "in": "path",
            "description": "The tab identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Payment intent payload",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PayIntentRequest"
              },
              "examples": {
                "card_full": {
                  "summary": "Terminal intends to charge the full remaining balance on card",
                  "description": "card_full",
                  "value": {
                    "terminal_id": "term-001",
                    "amount": {
                      "amount": 5000,
                      "currency": "GBP"
                    },
                    "method": "CARD",
                    "type": "FULL"
                  }
                },
                "card_split": {
                  "summary": "Terminal intends to take a partial (split) card payment",
                  "description": "card_split",
                  "value": {
                    "terminal_id": "term-002",
                    "amount": {
                      "amount": 2500,
                      "currency": "GBP"
                    },
                    "method": "CARD",
                    "type": "SPLIT"
                  }
                },
                "cash_full": {
                  "summary": "Terminal signals a full cash settlement (recorded for reconciliation)",
                  "description": "cash_full",
                  "value": {
                    "terminal_id": "term-003",
                    "amount": {
                      "amount": 5000,
                      "currency": "GBP"
                    },
                    "method": "CASH",
                    "type": "FULL"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Payment intent accepted and forwarded to ePOS",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayIntentResponse"
                },
                "examples": {
                  "intent_accepted": {
                    "summary": "Payment intent forwarded to the ePOS",
                    "description": "intent_accepted",
                    "value": {
                      "tab_id": "3f2b6a2e-9d3e-4a1f-8f1e-6b2e5a8c9d01",
                      "terminal_id": "term-001",
                      "amount": {
                        "amount": 5000,
                        "currency": "GBP"
                      },
                      "method": "CARD",
                      "type": "FULL",
                      "status": "FORWARDED",
                      "show_bill_expires_at": "2026-05-26T15:30:00Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                },
                "example": {
                  "code": "BAD_REQUEST",
                  "description": "Bad Request"
                }
              }
            }
          },
          "401": {
            "description": "Lacks valid authentication credentials for the requested resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                },
                "example": {
                  "code": "UNAUTHORIZED",
                  "description": "Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "The server understands the request but refuses to authorize it",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                },
                "example": {
                  "code": "FORBIDDEN",
                  "description": "Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "Tab not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                }
              }
            }
          },
          "408": {
            "description": "Request timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                },
                "example": {
                  "code": "REQUEST_TIMEOUT",
                  "description": "Request timeout"
                }
              }
            }
          },
          "409": {
            "description": "Conflict — tab is not in a payable state (TAB_NOT_PAYABLE), or requested amount exceeds remaining balance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported media type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests in a given amount of time",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                },
                "example": {
                  "code": "TOO_MANY_REQUESTS",
                  "description": "Too Many Requests"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                },
                "example": {
                  "code": "INTERNAL_SERVER_ERROR",
                  "description": "Internal Server Error"
                }
              }
            }
          }
        }
      }
    },
    "/poslink/v1/tabs/{tab_id}/pauses": {
      "post": {
        "tags": [
          "Pay at Table"
        ],
        "summary": "Pause a tab",
        "description": "Records a pause event on the tab. Strict semantics: only a tab in\n`PAYING` status can be paused — pause is a mid-split-payment\noperation. On success the tab moves to `PAUSED` and the ePOS\nreceives a `TAB_PAUSED` SSE event.\n",
        "operationId": "pauseTab",
        "parameters": [
          {
            "name": "tab_id",
            "in": "path",
            "description": "The tab identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TerminalIdRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Tab paused; pause event recorded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PauseTabResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                },
                "example": {
                  "code": "BAD_REQUEST",
                  "description": "Bad Request"
                }
              }
            }
          },
          "401": {
            "description": "Lacks valid authentication credentials for the requested resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                },
                "example": {
                  "code": "UNAUTHORIZED",
                  "description": "Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "The server understands the request but refuses to authorize it",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                },
                "example": {
                  "code": "FORBIDDEN",
                  "description": "Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "Tab not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                }
              }
            }
          },
          "408": {
            "description": "Request timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                },
                "example": {
                  "code": "REQUEST_TIMEOUT",
                  "description": "Request timeout"
                }
              }
            }
          },
          "409": {
            "description": "Conflict — tab is not in a state that allows pausing (TAB_NOT_PAUSEABLE)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported media type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests in a given amount of time",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                },
                "example": {
                  "code": "TOO_MANY_REQUESTS",
                  "description": "Too Many Requests"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                },
                "example": {
                  "code": "INTERNAL_SERVER_ERROR",
                  "description": "Internal Server Error"
                }
              }
            }
          }
        }
      }
    },
    "/poslink/v1/tabs/{tab_id}/hide-bill-intents": {
      "post": {
        "tags": [
          "Pay at Table"
        ],
        "summary": "Create a hide-bill intent",
        "description": "Terminal signals intent to stop displaying the bill for a tab. Strict\nsemantics: the lock must currently be held by the calling terminal —\na hide racing the credit-completed path or the TTL sweeper is rejected\nwith `409 TAB_NO_ACTIVE_SHOW_BILL`. On success the server clears the\nshow-bill state on the tab and notifies the ePOS via a\n`TAB_BILL_HIDDEN` SSE event.\n",
        "operationId": "createHideBillIntent",
        "parameters": [
          {
            "name": "tab_id",
            "in": "path",
            "description": "The tab identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TerminalIdRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Hide-bill intent accepted and forwarded to the ePOS",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HideBillIntentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                },
                "example": {
                  "code": "BAD_REQUEST",
                  "description": "Bad Request"
                }
              }
            }
          },
          "401": {
            "description": "Lacks valid authentication credentials for the requested resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                },
                "example": {
                  "code": "UNAUTHORIZED",
                  "description": "Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "The server understands the request but refuses to authorize it",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                },
                "example": {
                  "code": "FORBIDDEN",
                  "description": "Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "Tab not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                }
              }
            }
          },
          "408": {
            "description": "Request timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                },
                "example": {
                  "code": "REQUEST_TIMEOUT",
                  "description": "Request timeout"
                }
              }
            }
          },
          "409": {
            "description": "Conflict — no active show-bill lock on the tab, or lock is held by a different terminal",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported media type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests in a given amount of time",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                },
                "example": {
                  "code": "TOO_MANY_REQUESTS",
                  "description": "Too Many Requests"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                },
                "example": {
                  "code": "INTERNAL_SERVER_ERROR",
                  "description": "Internal Server Error"
                }
              }
            }
          }
        }
      }
    },
    "/poslink/v1/tabs/{tab_id}/errors": {
      "post": {
        "tags": [
          "Pay at Table"
        ],
        "summary": "Report a tab error",
        "description": "Reports an error from the ePOS for a specific tab (e.g., table not found, bill already settled).\nThe server accepts the rejection and notifies the affected terminal so it can surface\nthe error to the operator.\n",
        "operationId": "reportError",
        "parameters": [
          {
            "name": "tab_id",
            "in": "path",
            "description": "The tab identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Error report payload",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TabErrorRequest"
              },
              "examples": {
                "table_not_found": {
                  "summary": "ePOS rejects the tab because the requested table does not exist",
                  "description": "table_not_found",
                  "value": {
                    "terminal_id": "term-001",
                    "error_code": "TABLE_NOT_FOUND",
                    "message": "Table 5 was not found in the ePOS system"
                  }
                },
                "bill_already_settled": {
                  "summary": "ePOS rejects the tab because the bill has already been paid",
                  "description": "bill_already_settled",
                  "value": {
                    "terminal_id": "term-001",
                    "error_code": "BILL_ALREADY_SETTLED",
                    "message": "Bill has already been paid in full"
                  }
                },
                "epos_error": {
                  "summary": "Generic ePOS-side error surfaced to the operator",
                  "description": "epos_error",
                  "value": {
                    "terminal_id": "term-001",
                    "error_code": "EPOS_ERROR",
                    "message": "ePOS returned an unexpected error while processing the tab"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Rejection accepted and forwarded to the terminal",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TabErrorResponse"
                },
                "examples": {
                  "error_forwarded": {
                    "summary": "Error accepted and forwarded to the reporting terminal",
                    "description": "error_forwarded",
                    "value": {
                      "tab_id": "3f2b6a2e-9d3e-4a1f-8f1e-6b2e5a8c9d01",
                      "status": "OPEN"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                },
                "example": {
                  "code": "BAD_REQUEST",
                  "description": "Bad Request"
                }
              }
            }
          },
          "401": {
            "description": "Lacks valid authentication credentials for the requested resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                },
                "example": {
                  "code": "UNAUTHORIZED",
                  "description": "Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "The server understands the request but refuses to authorize it",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                },
                "example": {
                  "code": "FORBIDDEN",
                  "description": "Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "Tab not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                }
              }
            }
          },
          "408": {
            "description": "Request timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                },
                "example": {
                  "code": "REQUEST_TIMEOUT",
                  "description": "Request timeout"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported media type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests in a given amount of time",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                },
                "example": {
                  "code": "TOO_MANY_REQUESTS",
                  "description": "Too Many Requests"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                },
                "example": {
                  "code": "INTERNAL_SERVER_ERROR",
                  "description": "Internal Server Error"
                }
              }
            }
          }
        }
      }
    },
    "/poslink/v1/tabs/{tab_id}/bill": {
      "get": {
        "tags": [
          "Pay at Table"
        ],
        "summary": "Retrieve the current bill for a tab",
        "description": "Returns the current bill for a tab, including items, amounts, and bill image URL (if any). If the ePOS has reported a rejection via POST /v1/tabs/{tab_id}/errors before any bill content was posted, the response still returns 200 with the bill fields empty/zero and last_error_* populated so the terminal can surface the error to the user.",
        "operationId": "getBill",
        "parameters": [
          {
            "name": "tab_id",
            "in": "path",
            "description": "The tab identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bill retrieved. `bill_file_url` is null when the ePOS POSTed the bill without a `print_model` (no print-receipt round-trip occurred), or when the ePOS reported an error and no bill content was posted (check `last_error_code`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillDetailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                },
                "example": {
                  "code": "BAD_REQUEST",
                  "description": "Bad Request"
                }
              }
            }
          },
          "401": {
            "description": "Lacks valid authentication credentials for the requested resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                },
                "example": {
                  "code": "UNAUTHORIZED",
                  "description": "Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "The server understands the request but refuses to authorize it",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                },
                "example": {
                  "code": "FORBIDDEN",
                  "description": "Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "Either the tab does not exist (TAB_NOT_FOUND) or it exists but no bill content has been POSTed and no error has been reported yet for the active show-bill intent (TAB_BILL_NOT_READY). Disambiguate via the body's code field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                }
              }
            }
          },
          "408": {
            "description": "Request timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                },
                "example": {
                  "code": "REQUEST_TIMEOUT",
                  "description": "Request timeout"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests in a given amount of time",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                },
                "example": {
                  "code": "TOO_MANY_REQUESTS",
                  "description": "Too Many Requests"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                },
                "example": {
                  "code": "INTERNAL_SERVER_ERROR",
                  "description": "Internal Server Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Pay at Table"
        ],
        "summary": "Send bill content to the server",
        "description": "ePOS pushes bill content for a tab. The server accepts the content and\nforwards it to the terminal currently holding the active show-bill intent.\n\nTwo request-body variants are supported, selected by `Content-Type`:\n- `application/json` — a structured `print_model` (see `ShowBillRequest`).\n- `multipart/form-data` — a pre-rendered bill image (PNG or JPEG) with\n  `terminal_id`, `total_amount` and `currency` form fields.\n",
        "operationId": "sendBillContent",
        "parameters": [
          {
            "name": "tab_id",
            "in": "path",
            "description": "The tab identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Bill content payload — either a structured `print_model` (application/json) or a pre-rendered bill image (multipart/form-data).",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShowBillRequest"
              },
              "examples": {
                "simple_bill": {
                  "summary": "Total-only bill with a structured print_model",
                  "description": "simple_bill",
                  "value": {
                    "terminal_id": "term-001",
                    "total_amount": {
                      "amount": 5000,
                      "currency": "GBP"
                    },
                    "print_model": {
                      "rows": [
                        {
                          "type": "Items",
                          "items": [
                            {
                              "type": "Text",
                              "text": "Teya Cafe",
                              "bold": true,
                              "align": "CENTER"
                            }
                          ]
                        },
                        {
                          "type": "Divider"
                        },
                        {
                          "type": "Items",
                          "items": [
                            {
                              "type": "Text",
                              "text": "Total: 50.00",
                              "bold": true,
                              "align": "RIGHT"
                            }
                          ]
                        }
                      ]
                    }
                  }
                },
                "itemised_bill": {
                  "summary": "Itemised bill with per-line names, quantities and amounts",
                  "description": "itemised_bill",
                  "value": {
                    "terminal_id": "term-001",
                    "total_amount": {
                      "amount": 3200,
                      "currency": "GBP"
                    },
                    "tab_item_data": [
                      {
                        "name": "Burger",
                        "quantity": 1,
                        "amount": 1200
                      },
                      {
                        "name": "Fries",
                        "quantity": 1,
                        "amount": 500
                      },
                      {
                        "name": "Latte",
                        "quantity": 2,
                        "amount": 800
                      },
                      {
                        "name": "Brownie",
                        "quantity": 1,
                        "amount": 700
                      }
                    ]
                  }
                },
                "bill_with_service_charge": {
                  "summary": "Itemised bill including a 12.5% service-charge line",
                  "description": "bill_with_service_charge",
                  "value": {
                    "terminal_id": "term-001",
                    "total_amount": {
                      "amount": 4288,
                      "currency": "GBP"
                    },
                    "tab_item_data": [
                      {
                        "name": "Pasta",
                        "quantity": 1,
                        "amount": 1400
                      },
                      {
                        "name": "Wine (glass)",
                        "quantity": 2,
                        "amount": 1600
                      },
                      {
                        "name": "Tiramisu",
                        "quantity": 1,
                        "amount": 700
                      },
                      {
                        "name": "Service charge (12.5%)",
                        "quantity": 1,
                        "amount": 588
                      }
                    ]
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/SendBillImageForm"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Bill content accepted and forwarded to the terminal",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShowBillResponse"
                },
                "examples": {
                  "bill_forwarded": {
                    "summary": "Bill accepted and forwarded to the terminal holding the show-bill intent",
                    "description": "bill_forwarded",
                    "value": {
                      "tab_id": "3f2b6a2e-9d3e-4a1f-8f1e-6b2e5a8c9d01",
                      "status": "OPEN",
                      "showing_bill_terminal_id": "term-001",
                      "bill_file_id": "bill-file-001"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                },
                "example": {
                  "code": "BAD_REQUEST",
                  "description": "Bad Request"
                }
              }
            }
          },
          "401": {
            "description": "Lacks valid authentication credentials for the requested resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                },
                "example": {
                  "code": "UNAUTHORIZED",
                  "description": "Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "The server understands the request but refuses to authorize it",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                },
                "example": {
                  "code": "FORBIDDEN",
                  "description": "Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "Tab not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                }
              }
            }
          },
          "408": {
            "description": "Request timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                },
                "example": {
                  "code": "REQUEST_TIMEOUT",
                  "description": "Request timeout"
                }
              }
            }
          },
          "409": {
            "description": "Conflict — tab is not in a state to display a bill (e.g. CLOSED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported media type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests in a given amount of time",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                },
                "example": {
                  "code": "TOO_MANY_REQUESTS",
                  "description": "Too Many Requests"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                },
                "example": {
                  "code": "INTERNAL_SERVER_ERROR",
                  "description": "Internal Server Error"
                }
              }
            }
          }
        }
      }
    },
    "/poslink/v2/payment-requests": {
      "get": {
        "tags": [
          "Payment Requests"
        ],
        "summary": "List payments and refunds",
        "description": "Returns the store's payments and refunds, newest first.\n\n**What to send:** the store you want to look at. You can optionally narrow the results by terminal, status, type (sale or refund), or a date range, and page through large result sets using the page size and starting position.\n\n**What you get back:** a list where each entry shows the amount, whether it was a sale or a refund, its current status, and — where relevant — the reason behind that status (for example, why a payment was declined or cancelled). The response also tells you how many results match in total so you can page through them.\n\n**Required Scopes (one of the following):**\n\n- `payment_requests` (returned via the register API: `POST /poslink/v1/epos/register`)\n- `default_access` (deprecated, will be removed in the future; included for backward compatibility with existing integrations)\n",
        "operationId": "getPaymentsV2",
        "parameters": [
          {
            "name": "store_id",
            "in": "query",
            "description": "The ID of the store to retrieve requests associated with",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "da728238-ee94-470a-a1ba-a03161fdf98c"
          },
          {
            "name": "terminal_id",
            "in": "query",
            "description": "The ID of the terminal to retrieve requests associated with",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "2a3bdd2f-b52a-426c-b0fc-48c963650882"
          },
          {
            "name": "status",
            "in": "query",
            "description": "The current status of the request. Must be a valid enum value. If omitted, the returned list will include all statuses",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "NEW",
                "IN_PROGRESS",
                "SUCCESSFUL",
                "CANCELLING",
                "CANCELLED",
                "FAILED"
              ]
            },
            "example": "NEW"
          },
          {
            "name": "transaction_type",
            "in": "query",
            "description": "Filter by transaction type. Accepts SALE or REFUND.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "SALE",
                "REFUND"
              ]
            },
            "example": "SALE"
          },
          {
            "name": "start_date_time",
            "in": "query",
            "description": "The start date using the ISO 8601 format",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2023-09-20T11:00:00Z"
          },
          {
            "name": "end_date_time",
            "in": "query",
            "description": "The end date using the ISO 8601 format",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2023-09-20T11:00:00Z"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of results to be returned",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10,
              "maximum": 100,
              "minimum": 1
            },
            "example": 20
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The (zero-based) offset of the first record in the collection to return",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "minimum": 0
            },
            "example": 1
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort the result set in ascending (ASC) or descending (DESC) order based on the date the payment request is created",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ]
            },
            "example": "ASC"
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                },
                "example": {
                  "code": "INTERNAL_SERVER_ERROR",
                  "description": "Internal Server Error"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                },
                "example": {
                  "code": "BAD_REQUEST",
                  "description": "Bad Request"
                }
              }
            }
          },
          "408": {
            "description": "Request timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                },
                "example": {
                  "code": "REQUEST_TIMEOUT",
                  "description": "Request timeout"
                }
              }
            }
          },
          "200": {
            "description": "List of payments and refunds successfully retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAllPaymentRequestsResponse"
                },
                "examples": {
                  "List_Payment_Requests_New": {
                    "description": "List_Payment_Requests_New",
                    "value": {
                      "payment_requests": [
                        {
                          "payment_request_id": "dfc4fc52-8293-45b6-9f3e-b3b0f8f88188",
                          "requested_amount": {
                            "currency": "GBP",
                            "amount": 10,
                            "tip": 0
                          },
                          "status": "NEW",
                          "transaction_type": "SALE",
                          "created_at": "2022-06-15T16:24:12Z",
                          "updated_at": "2022-06-15T16:26:12Z",
                          "source_reference_id": "423897410",
                          "merchant_reference": "423897410",
                          "epos_instance_id": "reg92056_epos",
                          "terminal_id": "70dc65ba-1c13-492a-82a0-15821e5f63ba",
                          "store_id": "f04fe1ce-e7bd-4c5b-b873-b156643c0bc3"
                        }
                      ],
                      "pagination": {
                        "limit": 10,
                        "offset": 0,
                        "total_count": 1
                      }
                    }
                  },
                  "List_Payment_Requests_InProgress": {
                    "description": "List_Payment_Requests_InProgress",
                    "value": {
                      "payment_requests": [
                        {
                          "payment_request_id": "452aade7-8b08-4d81-a510-d5e19d34b6dd",
                          "requested_amount": {
                            "currency": "GBP",
                            "amount": 20,
                            "tip": 0
                          },
                          "status": "IN_PROGRESS",
                          "transaction_type": "SALE",
                          "created_at": "2022-06-15T16:24:12Z",
                          "updated_at": "2022-06-15T16:25:12Z",
                          "source_reference_id": "423897420",
                          "merchant_reference": "423897420",
                          "epos_instance_id": "reg92056_epos",
                          "terminal_id": "70dc65ba-1c13-492a-82a0-15821e5f63ba",
                          "store_id": "f04fe1ce-e7bd-4c5b-b873-b156643c0bc3"
                        }
                      ],
                      "pagination": {
                        "limit": 10,
                        "offset": 0,
                        "total_count": 1
                      }
                    }
                  },
                  "List_Payment_Requests_Successful": {
                    "description": "List_Payment_Requests_Successful",
                    "value": {
                      "payment_requests": [
                        {
                          "payment_request_id": "19799e09-1c66-4f35-b0e4-ce3f1ed1872c",
                          "requested_amount": {
                            "currency": "GBP",
                            "amount": 30,
                            "tip": 0
                          },
                          "status": "SUCCESSFUL",
                          "transaction_type": "SALE",
                          "created_at": "2022-06-15T16:24:12Z",
                          "updated_at": "2022-06-15T16:26:12Z",
                          "source_reference_id": "423897430",
                          "merchant_reference": "423897430",
                          "epos_instance_id": "reg92056_epos",
                          "gateway_payment_id": "39e3bacdd5d38d9ce611cf88afbcc86df829a9a5641880b3",
                          "terminal_id": "70dc65ba-1c13-492a-82a0-15821e5f63ba",
                          "store_id": "f04fe1ce-e7bd-4c5b-b873-b156643c0bc3"
                        }
                      ],
                      "pagination": {
                        "limit": 10,
                        "offset": 0,
                        "total_count": 1
                      }
                    }
                  },
                  "List_Payment_Requests_Cancelling": {
                    "description": "List_Payment_Requests_Cancelling",
                    "value": {
                      "payment_requests": [
                        {
                          "payment_request_id": "7d5bde02-3076-4fe0-b728-3bfe3e6e5a5b",
                          "requested_amount": {
                            "currency": "GBP",
                            "amount": 40,
                            "tip": 0
                          },
                          "status": "CANCELLING",
                          "transaction_type": "SALE",
                          "created_at": "2022-06-15T16:24:12Z",
                          "updated_at": "2022-06-15T16:26:12Z",
                          "source_reference_id": "423897440",
                          "merchant_reference": "423897440",
                          "epos_instance_id": "reg92056_epos",
                          "terminal_id": "70dc65ba-1c13-492a-82a0-15821e5f63ba",
                          "store_id": "f04fe1ce-e7bd-4c5b-b873-b156643c0bc3"
                        }
                      ],
                      "pagination": {
                        "limit": 10,
                        "offset": 0,
                        "total_count": 1
                      }
                    }
                  },
                  "List_Payment_Requests_Cancelled": {
                    "description": "List_Payment_Requests_Cancelled",
                    "value": {
                      "payment_requests": [
                        {
                          "payment_request_id": "d0cae7a7-b068-4342-bb23-87f70b0de6bc",
                          "requested_amount": {
                            "currency": "GBP",
                            "amount": 50,
                            "tip": 0
                          },
                          "status": "CANCELLED",
                          "transaction_type": "SALE",
                          "created_at": "2022-06-15T16:24:12Z",
                          "updated_at": "2022-06-15T16:26:12Z",
                          "source_reference_id": "423897450",
                          "merchant_reference": "423897450",
                          "status_reason": "CANCELLED_BY_EPOS",
                          "epos_instance_id": "reg92056_epos",
                          "terminal_id": "70dc65ba-1c13-492a-82a0-15821e5f63ba",
                          "store_id": "f04fe1ce-e7bd-4c5b-b873-b156643c0bc3"
                        }
                      ],
                      "pagination": {
                        "limit": 10,
                        "offset": 0,
                        "total_count": 1
                      }
                    }
                  },
                  "List_Payment_Requests_Failed": {
                    "description": "List_Payment_Requests_Failed",
                    "value": {
                      "payment_requests": [
                        {
                          "payment_request_id": "2caa487d-a742-40e8-9323-59af71e2e1ad",
                          "requested_amount": {
                            "currency": "GBP",
                            "amount": 60,
                            "tip": 0
                          },
                          "status": "FAILED",
                          "transaction_type": "SALE",
                          "created_at": "2022-06-15T16:24:12Z",
                          "updated_at": "2022-06-15T16:25:12Z",
                          "source_reference_id": "423897460",
                          "merchant_reference": "423897460",
                          "status_reason": "DECLINED_ONLINE",
                          "epos_instance_id": "reg92056_epos",
                          "terminal_id": "70dc65ba-1c13-492a-82a0-15821e5f63ba",
                          "store_id": "f04fe1ce-e7bd-4c5b-b873-b156643c0bc3"
                        }
                      ],
                      "pagination": {
                        "limit": 10,
                        "offset": 0,
                        "total_count": 1
                      }
                    }
                  },
                  "List_Payments_And_Refunds_Refund": {
                    "description": "List_Payments_And_Refunds_Refund",
                    "value": {
                      "payment_requests": [
                        {
                          "payment_request_id": "9b2c1d7e-4a3f-4c8b-9e2d-1f0a6b5c4d3e",
                          "requested_amount": {
                            "currency": "GBP",
                            "amount": 60,
                            "tip": 0
                          },
                          "status": "SUCCESSFUL",
                          "transaction_type": "REFUND",
                          "created_at": "2022-06-15T16:24:12Z",
                          "updated_at": "2022-06-15T16:25:45Z",
                          "merchant_reference": "423897480",
                          "gateway_payment_id": "39e3bacdd5d38d9ce611cf88afbcc86df829a9a5641880b3",
                          "terminal_id": "70dc65ba-1c13-492a-82a0-15821e5f63ba",
                          "store_id": "f04fe1ce-e7bd-4c5b-b873-b156643c0bc3"
                        }
                      ],
                      "pagination": {
                        "limit": 10,
                        "offset": 0,
                        "total_count": 1
                      }
                    }
                  },
                  "List_Payment_Requests_All": {
                    "description": "List_Payment_Requests_All",
                    "value": {
                      "payment_requests": [
                        {
                          "payment_request_id": "2caa487d-a742-40e8-9323-59af71e2e1ad",
                          "requested_amount": {
                            "currency": "GBP",
                            "amount": 60,
                            "tip": 0
                          },
                          "status": "FAILED",
                          "transaction_type": "SALE",
                          "created_at": "2022-06-15T16:24:12Z",
                          "updated_at": "2022-06-15T16:25:12Z",
                          "source_reference_id": "423897460",
                          "merchant_reference": "423897460",
                          "status_reason": "DECLINED_ONLINE",
                          "epos_instance_id": "reg92056_epos",
                          "terminal_id": "70dc65ba-1c13-492a-82a0-15821e5f63ba",
                          "store_id": "f04fe1ce-e7bd-4c5b-b873-b156643c0bc3"
                        },
                        {
                          "payment_request_id": "19799e09-1c66-4f35-b0e4-ce3f1ed1872c",
                          "requested_amount": {
                            "currency": "GBP",
                            "amount": 30,
                            "tip": 0
                          },
                          "status": "SUCCESSFUL",
                          "transaction_type": "SALE",
                          "created_at": "2022-06-15T16:24:12Z",
                          "updated_at": "2022-06-15T16:26:12Z",
                          "source_reference_id": "423897430",
                          "merchant_reference": "423897430",
                          "epos_instance_id": "reg92056_epos",
                          "gateway_payment_id": "39e3bacdd5d38d9ce611cf88afbcc86df829a9a5641880b3",
                          "terminal_id": "70dc65ba-1c13-492a-82a0-15821e5f63ba",
                          "store_id": "f04fe1ce-e7bd-4c5b-b873-b156643c0bc3"
                        },
                        {
                          "payment_request_id": "d0cae7a7-b068-4342-bb23-87f70b0de6bc",
                          "requested_amount": {
                            "currency": "GBP",
                            "amount": 50,
                            "tip": 0
                          },
                          "status": "CANCELLED",
[...]
